<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  <title>Update Shows</title>
</head>
<body>
  <h2>Edit the fields you would like to update</h2>
<form class="has-text-centered" action="/shows/update/<%= show.id %>" method="POST">
  <div class = "field">

    <label>Title:
    </label>
      <div class="control">

        <input type="text" name="title" value="<%= show.title %>">
      </div>
    </div>
    <br>
  <div class ="field">

    <label>Description:
    </label>
    <div class="control">

      <input type="text" name="description" value="<%= show.description %>">
    </div>
  </div>
  <br>
  <div class = "field">

    <label>Image:
    </label>

    <div class="control">
      <input type="text" name="image" value="<%= show.image%>">
    </div>
  </div>
  <br>
  <div class = "field">

    <label>Starting Year:
    </label>
    <div class="control">
      <input type="text" name="startingYear" value="<%= show.startingYear %>">
    </div>
  </div>
  <br>
  <div class = "field">  
    <label>Ending Year:
    </label>
    <div class="control"> 
      <input type="text" name="endingYear" value="<%= show.endingYear %>"">
    </div>
  </div>
  <br>
  <div class = "field">
    <label>MPAA Rating
    </label>
    <div class="control">
      
      <select name="mpaaRating" value="<%= show.mpaaRating %>"">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
      </select>
    </div>
  </div>
  <br>
  <div class = "field">
    <label>Cast (separate actors with commas):
    </label>
    <div class="control">
      <input type="text" name="cast" value="<%= show.cast.join(',') %>"">
    </div>
  </div>
  <br>
  <label>Genre:

    <% if(show.genre.includes("Action")){ %>
      <input type="checkbox" name="genre" id="genre_action" value="Action" checked><label for="genre_action">Action</label>

      <% } else { %>
        <input type="checkbox" name="genre" id="genre_action" value="Action"><label for="genre_action">Action</label>
      <% } %>
    <% if(show.genre.includes("Adventure")){ %>

      <input type="checkbox" name="genre" id="genre_adventure" value="Adventure" checked><label for="genre_adventure">Adventure</label>
      <% } else { %>
      
        <input type="checkbox" name="genre" id="genre_adventure" value="Adventure"><label for="genre_adventure">Adventure</label>
      <% } %>
    <% if(show.genre.includes("Mystery")){ %>
      <input type="checkbox" name="genre" id="genre_mystery" value="Mystery" checked><label for="genre_mystery">Mystery</label>
      <% } else { %>
        <input type="checkbox" name="genre" id="genre_mystery" value="Mystery"><label for="genre_mystery">Mystery</label>
      <% } %>
    <% if(show.genre.includes("Fantasy")){ %>
      <input type="checkbox" name="genre" id="genre_fantasy" value="Fantasy" checked><label for="genre_fantasy" >Fantasy</label>

      <% } else { %>
        <input type="checkbox" name="genre" id="genre_fantasy" value="Fantasy"><label for="genre_fantasy">Fantasy</label>
      
      <% } %>
    <% if(show.genre.includes("Horror")){ %>
      <input type="checkbox" name="genre" id="genre_horror"  value="Horror" checked><label for="genre_horror" checked>Horror</label><br>

      <% } else { %>
        <input type="checkbox" name="genre" id="genre_horror"  value="Horror"><label for="genre_horror">Horror</label><br>
      
      <% } %>
      
  <label>Ongoing?
    <% if(show.ongoing){ %>
      <input type="checkbox" name="ongoing" checked>
      <% } else { %>
        <input type="checkbox" name="ongoing">
      <% } %>
  </label><br>
  <input type="submit" value="Update Show">
</form>
</body>
</html>